.label {
  font-size: 0.85em;
  color: transparentize($app-dark, $amount: 0.5);
  padding: 2px 10px;
  font-weight: 600 !important;
}

input {
  position: relative;
  line-height: 2.25em;
  box-sizing: border-box;
  width: 100%;

  font-size: 14px;
  font-family: 'Readex Pro';
  font-weight: 400;
  color: $app-white;

  background-color: $black-10;
  border: 1px solid setOpacity($neutral-40, 0.8);
  border-radius: $border;
  padding: 0 10px;

  // onFocus:
  &:focus {
    outline: 1px solid transparentize($app-blue, 0.33);
  }

  // isDisabled:
  &:disabled {
    background-color: $black-20;
    border: 1px solid $black-50;
  }
}

.field-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  .icon {
    position: absolute;
    right: 10px;
  }
}

.message {
  font-size: 0.75em;
  padding: 2px 10px;
}

.success {
  color: $app-green;
}
