@import '../../assets/styles/app.scss';

.base-button {
  display: inline-flex;
  justify-content: center;
  min-width: 65px;

  padding: 8px 10px;
  border: none;
  border-radius: 8px;

  font-weight: 600;
  cursor: pointer;
}

.ghost-button {
  button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 11px 25px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid $neutral-40;

    font-weight: 700;
    font-size: 0.8em;
    font-family: 'Readex Pro';
    line-height: 2em;
    color: $app-dark;

    :nth-child(1) {
      margin: 0 8px;
    }
  }
}

.primary-button {
  button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 11px 25px;
    border-radius: 8px;
    background-color: $app-blue;
    border: none;

    font-weight: 500;
    font-size: 0.8em;
    font-family: 'Readex Pro';
    line-height: 2em;
    color: $app-white;

    :nth-child(1) {
      margin: 0 8px;
    }

    box-shadow: shadow($app-blue);
    &:hover {
      transform: translateY(3px);
      transition: all 0.3s;
      box-shadow: none;
    }

    .icon {
      display: inherit;
      opacity: 0;
      transform: translateX(+100px);
    }

    &:hover > .icon {
      opacity: 1;
      transform: translateX(0px);
      transition: all 0.3s;
    }
  }
}

// Extra Properties

.fluid {
  position: relative;
  width: 100%;
}
