$border: 6px;

// -> Neutrals - Light:
$neutral-50: hsl(216, 14%, 79%);
$neutral-40: hsl(229, 74%, 79%);
$neutral-30: hsl(228, 14%, 93%);
$neutral-20: hsl(220, 16%, 96%);
$neutral-10: hsl(210, 25%, 98%);

// -> Neutrals - Black:
$black-10: hsl(220, 21%, 11%);
$black-20: hsl(216, 21%, 9%);
$black-30: hsl(218, 24%, 7%);
$black-40: hsl(222, 15%, 13%);
$black-50: hsl(226, 37%, 7%);

// -> App vars:
$app-bg: hsl(0, 0%, 96%);
$app-bg-dark: hsl(218, 24%, 7%);
$app-bg-dark2: $black-50;
$app-blue: hsl(207, 83%, 60%);
$app-green: hsl(115, 57%, 51%);
$app-red: hsl(14, 100%, 58%);
$app-yellow: hsl(44, 100%, 50%);
$app-dark: hsl(0, 0%, 12%);
$app-dark-grey: hsl(220, 9%, 7%);
$app-dark-grey2: $black-40;
$app-black: hsl(0, 0%, 0%);
$app-white: hsl(0, 0%, 100%);
$app-purple: hsl(242, 53%, 54%);
$app-grey: hsl(212, 7%, 40%);

// -> App - Shadow:
@function shadow($color) {
  @return 0 20px 35px -10px rgba($color, 0.5);
}

@function setOpacity($color, $level) {
  @return transparentize($color, $level);
}
