// App Settings ->
@import 'https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
@import './_variables';

$font-Readex: 'Readex Pro', sans-serif;
$font-Rubik: 'Rubik', sans-serif;

#app {
  font-family: $font-Readex, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: $app-bg-dark2;
}
